{% extends 'base.html.twig' %}


{% block content %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Lorsque l'utilisateur coche/décoche un jour, activer/désactiver les listes déroulantes
            document.querySelectorAll('.day-schedule input[type="checkbox"]').forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    var daySchedule = this.closest('.day-schedule');
                    var selects = daySchedule.querySelectorAll('.hours select');
                    selects.forEach(function(select) {
                        select.disabled = !checkbox.checked;
                    });
                });
            });
        });


        document.addEventListener('DOMContentLoaded', function() {
            var form = document.getElementById('businessHoursForm');

            form.addEventListener('submit', function(e) {
                e.preventDefault();

                var formData = new FormData(form);

                fetch('{{ path('app_availability') }}', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            // Redirection vers la page /calendar
                            window.location.href = '/calendar';
                        } else {
                            // Gérer les éventuelles erreurs
                            console.error('Erreur lors de l enregistrement des horaires.');
                        }
                    })
                    .catch(error => console.error('Erreur:', error));
            });
        });

    </script>

    <style>
        .fc .fc-prev-button::after,
        .fc .fc-next-button::after {
            content: '';
            display: inline-block;
            border: solid black;
            border-width: 0 2px 2px 0;
            padding: 3px;
        }

        .fc .fc-prev-button::after {
            transform: rotate(135deg); /* Flèche gauche */
            -webkit-transform: rotate(135deg);
            border-color: white;
        }

        .fc .fc-next-button::after {
            transform: rotate(-45deg); /* Flèche droite */
            -webkit-transform: rotate(-45deg);
            border-color: white;
        }
        .fc {
            background-color: rgba(108, 105, 105, 0.6);
            color: #ffffff;
            border-radius: 1%;
            padding: 25px;

        }
    </style>

    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Horaires d'ouvertures
    </button>

    <div class="offcanvas offcanvas-size-xl offcanvas-start" tabindex="-1" id="offcanvasExample"   data-bs-backdrop="static" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 id="absenceOffCanvasLabel">Horaires d'ouverture</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <div class="container custom-availability-container">

                <form id="businessHoursForm" method="post" action="{{ path('app_availability') }}">
                    {% for day, label in {
                        'monday': 'Lundi',
                        'tuesday': 'Mardi',
                        'wednesday': 'Mercredi',
                        'thursday': 'Jeudi',
                        'friday': 'Vendredi',
                        'saturday': 'Samedi',
                        'sunday': 'Dimanche'
                    } %}
                        <div class="row day-schedule">
                            <div class="col-lg-3 col-12  vertical-align-custom ">

                                <label class="checkbox-container">
                                    <input class="custom-checkbox" type="checkbox" name="days[{{ day }}][active]" value="1" checked>
                                    {{ label }}
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-lg-9 col-12  hours custom-center ">
                                De
                                <select name="days[{{ day }}][startTime]" class="select">
                                    {% for hour in 8..23 %}
                                        {% for minute in [0, 30] %}
                                            <option value="{{ '%02d'|format(hour) }}:{{ '%02d'|format(minute) }}">{{ '%02d'|format(hour) }}:{{ '%02d'|format(minute) }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                                À
                                <select name="days[{{ day }}][endTime]" class="select">
                                    {% for hour in 11..23 %}
                                        {% for minute in [0, 30] %}
                                            <option value="{{ '%02d'|format(hour) }}:{{ '%02d'|format(minute) }}">{{ '%02d'|format(hour) }}:{{ '%02d'|format(minute) }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endfor %}

                    <button type="submit">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>

    <div id="calendar"></div>


    {{ encore_entry_script_tags('app') }}


    <!-- OffCanvas Bootstrap pour l'absence -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="absenceOffCanvas" aria-labelledby="absenceOffCanvasLabel">
        <div class="offcanvas-header">
            <h5 id="absenceOffCanvasLabel">Ajouter une Absence</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form id="absenceForm">
                <div class="form-group">
                    <label for="absenceDate">Date</label>
                    <input type="date" class="form-control" id="absenceDate" name="date">
                </div>

                <label for="absenceStartTime" class="col-form-label">Heure de début</label>
                <div class="form-group row">

                    <div class="col-5">
                        <select id="absenceStartHour" name="startHour" class="form-control">
                            {% for hour in 9..21 %}
                                <option value="{{ '%02d'|format(hour) }}">{{ '%02d'|format(hour) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-5">
                        <select id="absenceStartMinute" name="startMinute" class="form-control">
                            <option value="00">00</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                </div>
                <label for="absenceEndTime" class="col-form-label">Heure de fin</label>
                <div class="form-group row">
                    <div class="col-5">
                        <select id="absenceEndHour" name="endHour" class="form-control">
                            {% for hour in 9..21 %}
                                <option value="{{ '%02d'|format(hour) }}">{{ '%02d'|format(hour) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-5">
                        <select id="absenceEndMinute" name="endMinute" class="form-control">
                            <option value="00">00</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="allDay" name="allDay">
                    <label class="form-check-label" for="allDay">Toute la journée</label>
                </div>

                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <button type="button" class="btn btn-danger mt-3" id="deleteAbsenceButton" style="display: none;">
                    Supprimer l'absence
                </button>


            </form>
        </div>
    </div>







{% endblock %}
