{% extends 'base.html.twig' %}


{% block content %}

    <div class="container">
        {# Déterminer la date et l'heure actuelles #}
        {% set now = "now"|date('Y-m-d H:i', 'Europe/Paris') %}

        {# Filtrer et trier les futures réservations en prenant en compte la date et l'heure #}
        {% set futureBookings = bookings | filter(booking => (booking.date|date('Y-m-d') ~ ' ' ~ booking.startTime|date('H:i')) > now) | sort((a, b) => a.date <=> b.date) %}

        {# Filtrer et trier les réservations passées en prenant en compte la date et l'heure #}
        {% set pastBookings = bookings | filter(booking => (booking.date|date('Y-m-d') ~ ' ' ~ booking.startTime|date('H:i')) <= now) | sort((a, b) => b.date <=> a.date) %}

        {% if futureBookings|length > 0 %}
            <div class="row">
                <h1>Prochaines réservations</h1>
                <div class="row row-cols-1 row-cols-md-3 mt-3">
                    {% for booking in futureBookings %}
                        <div class="col mb-2">
                            <div class="card w-75">
                                <div class="card-body">
                                    <h5 class="card-title">{{ booking.prestation.name }}</h5>
                                    <p class="card-text">Date : <span>{{ booking.date | date('d F Y', 'Europe/Paris')}}</span></p>
                                    <p class="card-text">Heure : {{ booking.startTime | date('H:i', 'Europe/Paris')}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>Vous n'avez pas de futures réservations.</p>
        {% endif %}

        {% if pastBookings|length > 0 %}
            <div class="row">
                <h1>Réservations passées</h1>
                <div class="row row-cols-1 row-cols-md-3 mt-3">
                    {% for booking in pastBookings %}
                        <div class="col mb-2">
                            <div class="card w-75">
                                <div class="card-body">
                                    <h5 class="card-title">{{ booking.prestation.name }}</h5>
                                    <p class="card-text">Date : <span>{{ booking.date | date('d F Y', 'Europe/Paris')}}</span></p>
                                    <p class="card-text">Heure : {{ booking.startTime | date('H:i', 'Europe/Paris')}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>Vous n'avez pas de réservations passées.</p>
        {% endif %}
    </div>
{% endblock %}


