{% extends 'base.html.twig' %}

{% block content %}
    <!-- Gallery -->
    <div class="row flex-row justify-content-center">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 custom-img-width">
            <img src="{{ asset('uploads/img/ongles_vert.jpg') }}" class="w-100 shadow-1-strong rounded mb-4" alt="ongles verts  paillettes"/>
            <img src="{{ asset('uploads/img/nails_clairs.jpg') }}" class="w-100 shadow-1-strong rounded mb-4" alt="french paillette rose"/>
            <img src="{{ asset('uploads/img/babyboomer_crop.jpg') }}" class="w-100 shadow-1-strong rounded mb-4  d-none d-md-block d-lg-none " alt="ongles babyboomer"/>
        </div>

        <div class="col-lg-4 col-md-6 mb-lg-0 custom-img-width d-none d-lg-block">
            <img src="{{ asset('uploads/img/babyboomer.jpg') }}" class="w-100 shadow-1-strong rounded mb-4 " alt="ongles babyboomer"/>
            <img src="{{ asset('uploads/img/ongles_amande.jpg') }}" class="w-100 shadow-1-strong rounded mb-4 " alt="pose gel amande"/>
            <img src="{{ asset('uploads/img/ongles_amande.jpg') }}" class="w-100 shadow-1-strong rounded mb-4 d-none d-md-block d-lg-none " alt="pose gel amande"/>
        </div>

        <div class="col-lg-4 col-md-6 mb-lg-0 custom-img-width" >
            <img src="{{ asset('uploads/img/french.jpg') }}" class="w-100 shadow-1-strong rounded mb-4 " alt="french"/>
            <img src="{{ asset('uploads/img/french_paillette1.jpg') }}" class="w-100 shadow-1-strong rounded mb-4" alt="ongles french paillette rose"/>
            <img src="{{ asset('uploads/img/ongles_amande.jpg') }}" class="w-100 shadow-1-strong rounded mb-4 d-none d-md-block d-lg-none " alt="pose gel amande"/>
        </div>


    </div>
    <!-- Gallery -->
{% endblock %}