{% extends 'base.html.twig' %}

{% block title %}Hello AvailabilityController!{% endblock %}

{% block content %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Lorsque l'utilisateur coche/décoche un jour, activer/désactiver les listes déroulantes
            document.querySelectorAll('.day-schedule input[type="checkbox"]').forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    var daySchedule = this.closest('.day-schedule');
                    var selects = daySchedule.querySelectorAll('.hours select');
                    selects.forEach(function(select) {
                        select.disabled = !checkbox.checked;
                    });
                });
            });
        });
    </script>

    <style>

    </style>

        <div class="container custom-availability-container">

        <form id="businessHoursForm" method="post" action="{{ path('app_availability') }}">
        {% for day, label in {
            'monday': 'Lundi',
            'tuesday': 'Mardi',
            'wednesday': 'Mercredi',
            'thursday': 'Jeudi',
            'friday': 'Vendredi',
            'saturday': 'Samedi',
            'sunday': 'Dimanche'
        } %}
            <div class="row day-schedule">
                <div class="col-3 vertical-align-custom">

                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" name="days[{{ day }}][active]" value="1" checked>
                    {{ label }}
                    <span class="checkmark"></span>
                </label>
                </div>
                <div class="col-9 hours custom-center">
                    De
                    <select name="days[{{ day }}][startTime]" class="select">
                        {% for hour in 8..23 %}
                            {% for minute in [0, 30] %}
                                <option value="{{ '%02d'|format(hour) }}:{{ '%02d'|format(minute) }}">{{ '%02d'|format(hour) }}:{{ '%02d'|format(minute) }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                    À
                    <select name="days[{{ day }}][endTime]" class="select">
                        {% for hour in 8..23 %}
                            {% for minute in [0, 30] %}
                                <option value="{{ '%02d'|format(hour) }}:{{ '%02d'|format(minute) }}">{{ '%02d'|format(hour) }}:{{ '%02d'|format(minute) }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}

            <button type="submit">Enregistrer</button>
        </form>
        </div>

{% endblock %}
