<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="RPNails63 site de prise de rdv">
    <meta name="author" content="Niels MESURE">
    <title>{% block title %}RpNails63{% endblock %}</title>
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.js.map') }}"></script>
    <link href="{{ asset('assets/css/rpNails63.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/rpNails63.scss') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/rpNails63.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


</head>


<body>

    <header >
        <nav class="navbar navbar-expand-lg navbar-dark custom-font shadow">
            <div class="container">
                <a class="navbar-brand " href="{{ path('app_home') }}">
                    <img src="/uploads/logo/logo_Rox.png" alt="LOGO" width="130px" class="px-2 py-1">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-custom" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_calendar') }}">Calendar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Dispos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">A propos de mon travail</a>
                        </li>

                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Interface Admin</a>
                            </li>
                        {% endif %}
                    </ul>

                    <form  role="search">
                        <div class="nav_bar_button mb-2">
                            {% if app.user %}
                                <div class="dropdown ">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Mon Compte
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('app_account_password') }}">Mes Informations</a></li>
                                        <li><a class="dropdown-item" href="#">Mes Réservations</a></li>
                                        <li><a class="dropdown-item custom-logout" href="{{ path('app_logout') }}">Déconnexion</a></li>
                                    </ul>
                                </div>

                            {% else %}
                                <a class="btn custom-submit" style="width: auto"
                                   href="{{ path('app_login') }}">Connexion</a> <a class="btn custom-submit"
                                                                                   style="width: auto"
                                                                                   href="{{ path('app_register') }}">Inscription</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>


<main role="main">
<div class=" container mb-5 mt-5">
        {% block content %}
        {% endblock %}
</div>
</main>
</body>
</html>